---
layout: default
featured:
- icon: fa-solid fa-cloud-moon
  description: Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut eius sed ea possimus provident voluptatem ipsam saepe nisi quisquam, necessitatibus eaque rerum dicta officiis quae quaerat, neque hic non fugit.
- icon: fas fa-apple-alt
  description: Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut eius sed ea possimus provident voluptatem ipsam saepe nisi quisquam, necessitatibus eaque rerum dicta officiis quae quaerat, neque hic non fugit.
- icon: fas fa-carrot
  description: Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut eius sed ea possimus provident voluptatem ipsam saepe nisi quisquam, necessitatibus eaque rerum dicta officiis quae quaerat, neque hic non fugit.
- icon: fas fa-pizza-slice
  description: Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut eius sed ea possimus provident voluptatem ipsam saepe nisi quisquam, necessitatibus eaque rerum dicta officiis quae quaerat, neque hic non fugit.
---

<!--------------- navbar --------------->
<header class="grid text-center tall-100 md-tall-80">

  {% include header-nav.html %}

  <div class="col-12 text-center">
    <h3 class="font-weight-extra-bold editable">
      <span class="featured-text">sleep</span> like a baby
    </h3>
    <h1 class="font-weight-light editable">
      the ultimate mattress solution
    </h1>
  </div>
</header>

<!--------------- gallery / about section --------------->
<section class="grid">
  <div class="padded col-6_xs-12-middle">
    <h2 class="editable">
      built to last a <span class="featured-text">lifetime</span>
    </h2>
    <p class="editable">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla,
      impedit possimus aliquam minima suscipit ut molestiae ex, quia ad
      dolor labore nemo omnis recusandae accusamus explicabo debitis
      repudiandae eveniet id?
    </p>
    <p class="editable">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut eligendi,
      nihil ex incidunt, ab eius voluptates, dolor sint ipsam fuga quibusdam
      autem expedita magni delectus temporibus quam natus ad quae.
    </p>
  </div>

  <div class="bg-image bg-bed col-6_xs-12-middle tall-70">
    <!-- background image bed -->
  </div>

  <div class="bg-image bg-pug col-6_xs-12 tall-70 hide-xs">
    <!-- background image pug sleeping -->
  </div>

  <div class="padded col-6_xs-12-middle editable">
    <h2>so <span class="featured-text">soft</span> you'll melt</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla,
      impedit possimus aliquam minima suscipit ut molestiae ex, quia ad
      dolor labore nemo omnis recusandae accusamus explicabo debitis
      repudiandae eveniet id?
    </p>
  </div>
</section>

<!--------------- feature icon grid --------------->

<section class="padded grid-center bg-dark">
  <div class="padded-sm col-12 text-center">
    <h2><span class="featured-text">features</span> you will love</h2>
  </div>

  {% for item in page.featured %}
  <div class="padded-sm col-3_sm-6 xxs-stack editable">
    <i class="{{item.icon}}"></i>
    <p> {{item.description}} </p>
  </div>
  {% endfor %}

</section>

<!--------------- image banner --------------->
<section class="padded text-center bg-pillow tall-70 grid">
  <div class="col-12-middle">
    <h3 class="big-text">
      <span class="small-text font-weight-normal">
        never underestimate the power</span>
      <br />of a good night <span class="white-text">sleep</span>
    </h3>
  </div>
</section>

<!--------------- testimonial section --------------->

<section class="padded-lg grid">
  <div class="col-1 text-right">
    <span class="quote-icon">“</span>
  </div>
  <div class="col-10 text-center">
    <p class="medium-text font-weight-light">
      I'm never experienced sleep like this. Omg I really love this mattress
      I want to buy one for every member of my family
    </p>
    <p class="subtitle">- A very happy customer</p>
  </div>
  <div class="col-1">
    <span class="quote-icon">”</span>
  </div>
</section>