---
layout: default
cards:
 - heading: Small Heading
   description: Lorem ipsum dolor sit, amet consectetur adipisicing elit.
   featured_image: /assets/the-sleep-co-bed.webp
 - heading: Small Heading
   description: Lorem ipsum dolor sit, amet consectetur adipisicing elit.
   featured_image: /assets/the-sleep-co-image-1.webp
 - heading: Small Heading
   description: Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
   featured_image: /assets/the-sleep-co-pillow.webp
---
<!-- navbar -->
<header class="grid text-center tall-60">

  {% include header-nav.html %}

  <div class="col-12-middle">
    <h3 class="font-weight-extra-bold editable">
      <span class="featured-text">addictively</span> soft
    </h3>
    <h1 class="font-weight-light editable">you won't get out of bed</h1>
  </div>
</header>

<!-- feature text grid -->

<section class="padded grid bg-featured">
  <div class="padded-sm col-12 text-center">
    <h2><span class="white-text">features</span> you will love</h2>
  </div>
  <div class="padded-sm col-3_sm-6 xxs-stack editable">
    <h3>little heading</h3>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut eius sed
      ea possimus provident voluptatem ipsam saepe nisi quisquam,
      necessitatibus eaque rerum dicta officiis quae quaerat, neque hic non
      fugit.
    </p>
  </div>
  <div class="padded-sm col-3_sm-6 xxs-stack editable">
    <h3>little heading</h3>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut eius sed
      ea possimus provident voluptatem ipsam saepe nisi quisquam,
      necessitatibus eaque rerum dicta officiis quae quaerat, neque hic non
      fugit.
    </p>
  </div>
  <div class="padded-sm col-3_sm-6 xxs-stack editable">
    <h3>little heading</h3>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut eius sed
      ea possimus provident voluptatem ipsam saepe nisi quisquam,
      necessitatibus eaque rerum dicta officiis quae quaerat, neque hic non
      fugit.
    </p>
  </div>
  <div class="padded-sm col-3_sm-6 xxs-stack editable">
    <h3>little heading</h3>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut eius sed
      ea possimus provident voluptatem ipsam saepe nisi quisquam,
      necessitatibus eaque rerum dicta officiis quae quaerat, neque hic non
      fugit.
    </p>
  </div>
</section>

<!-- cards -->
<section class="grid padded">
  {% for item in page.cards %}
  <div class="col-4_sm-6_xs-12 padded-sm">
    <div class="card">
      <div class="bg-image portrait" style="background-image: url('{{item.featured_image}}')"></div>
      <div class="padded-1">
        <h3>{{item.heading}}</h3>
        <p>{{item.description}}
        </p>
      </div>
    </div>
  </div>
  {% endfor %}
</section>

<!-- image banner -->
<section class="padded text-center bg-dark tall-70 grid">
  <div class="col-12-middle">
    <h3 class="big-text">
      <span class="small-text font-weight-normal">
        spend over $150 and activate</span>
      <br /><span class="featured-text">free</span> express shipping
    </h3>
  </div>
</section>

<!-- gallery / about section -->
<section class="grid">
  <div class="padded col-6_xs-12-middle">
    <h2 class="editable">
      built to last a <span class="featured-text">lifetime</span>
    </h2>
    <p class="editable">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla,
      impedit possimus aliquam minima suscipit ut molestiae ex, quia ad
      dolor labore nemo omnis recusandae accusamus explicabo debitis
      repudiandae eveniet id?
    </p>
    <p class="editable">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut eligendi,
      nihil ex incidunt, ab eius voluptates, dolor sint ipsam fuga quibusdam
      autem expedita magni delectus temporibus quam natus ad quae.
    </p>
  </div>

  <div class="bg-image bg-bed col-6_xs-12 hide-xs tall-70">
    <!-- background image bed -->
  </div>

  <div class="bg-image bg-pug col-6_xs-12 tall-70">
    <!-- background image pug sleeping -->
  </div>

  <div class="padded col-6_xs-12-middle editable">
    <h2>so <span class="featured-text">soft</span> you'll melt</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla,
      impedit possimus aliquam minima suscipit ut molestiae ex, quia ad
      dolor labore nemo omnis recusandae accusamus explicabo debitis
      repudiandae eveniet id?
    </p>
  </div>

  <div class="padded col-6_xs-12-middle">
    <h2 class="editable">
      built to last a <span class="featured-text">lifetime</span>
    </h2>
    <p class="editable">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla,
      impedit possimus aliquam minima suscipit ut molestiae ex, quia ad
      dolor labore nemo omnis recusandae accusamus explicabo debitis
      repudiandae eveniet id?
    </p>
    <p class="editable">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut eligendi,
      nihil ex incidunt, ab eius voluptates, dolor sint ipsam fuga quibusdam
      autem expedita magni delectus temporibus quam natus ad quae.
    </p>
  </div>

  <div class="bg-image bg-bed col-6_xs-12 tall-70">
    <!-- background image bed -->
  </div>
</section>