<footer class="padded grid-spaceBetween bg-dark">
    <div class="col-4_sm-8_xs-12-bottom">
        <h2>
            let's <br />
            <span class="featured-text">connect</span>
        </h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet
            maxime quibusdam commodi amet eaque similique quae maiores rerum
            tempore dolorem deserunt, voluptatem minima! Cumque ratione, facere
            quod asperiores nesciunt beatae!
        </p>
    </div>
    <div class="col-5_sm-4_xs-12-bottom">
        <p><strong>Call:</strong> <a href="tel:#">04555 5555</a></p>
        <p><strong>Email:</strong> <a href="mailto:#">hello@thesleep.co</a></p>
        <p><strong>Store:</strong> 55 Main St, Chicago</p>
        <p>
            <strong>Instagram:</strong>
            <a href="https://www.instagram.com/thesleepco"> @thesleepco</a>
        </p>
    </div>
</footer>